<div id="new-listing" class="new-listing">

  <%= form_for [current_user, @listing], html: { multipart: true } do |form| %>
    <%= render partial: '/listings/form', object: form %>

    <div class="submit-field">
      <%= form.submit %>
    </div>

  <% end %>
</div>
